* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

header {
  width: 100%;
  height: 100vh;
  background-color: #cccaca;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container {
  width: 300px;
  height: 85%;
  background-color: #222831;
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1px 1fr;
  box-shadow: 1px 1px 10px 5px rgba(49, 54, 63, 0.4431372549);
  position: relative;
}
header .container .alert {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(255, 170, 51, 0.288);
  font-size: 17px;
  color: #fff;
  border-radius: 20px;
  position: absolute;
  bottom: 80px;
  left: 70px;
  padding: 10px;
}
header .container .hiden {
  display: none;
}
header .container .total {
  width: 100%;
  background-color: #222831;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 85px 75px 1fr;
}
header .container .total .string {
  display: flex;
  max-width: 300px;
}
header .container .total .string .anime {
  width: 2px;
  height: 50px;
  background-color: #fa3;
  animation: text 1.1s ease-in-out 0s infinite;
  transition: all 0.5s ease-in-out 0s;
}
header .container .total .string .text {
  font-size: 45px;
  color: #fff;
  overflow-x: hidden;
}
header .container .total .result {
  font-size: 35px;
  opacity: 70%;
  color: #fa3;
}
header .container .total .bottom {
  display: flex;
  justify-content: space-between;
  padding-inline: 15px;
  color: #fa3;
  font-size: 18px;
}
header .container .total .bottom .del:hover {
  opacity: 70%;
}
header .container .total .bottom .storage:hover {
  opacity: 70%;
}
header .container .total .bottom:hover {
  cursor: pointer;
}
header .container .cul {
  background-color: #222831;
  padding: 10px 0px;
}
header .container .cul ul {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}
header .container .cul ul li {
  height: 80%;
  padding: 5px;
  background-color: #31363F;
  border-radius: 50px;
  box-shadow: 1px 1px 15px 0px rgba(255, 255, 255, 0.2549019608) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease 0s;
}
header .container .cul ul li span {
  color: #fff;
  font-size: 35px;
}
header .container .cul ul li .operator, header .container .cul ul li .deleteAll, header .container .cul ul li .square, header .container .cul ul li .percent, header .container .cul ul li .negative {
  color: #fa3;
}
header .container .cul ul .equal {
  background-color: #fa3;
  box-shadow: none;
  color: #fff;
  grid-row: 4/6;
  grid-column: 4;
  padding: 10px 0px;
  margin: 0px 5px;
}
header .container .cul ul .equal span {
  color: #fff;
}
header .container .cul ul .equal:hover {
  background-color: #fa3;
  color: #fff;
  opacity: 90%;
}
header .container .cul ul li:hover {
  cursor: pointer;
  background-color: #31363F;
  box-shadow: none;
}

@keyframes text {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}/*# sourceMappingURL=style.css.map */